extends templates/main

block js
  script(src='/static/async-polling.min.js' charset='utf-8')
  script(src='/static/uniqolor.min.js' charset='utf-8')
  script(src='/static/script.chat.js' charset='utf-8')

block body
  #instructions
    .container
      p
        | Back to 
        a(href='/') home
      
      h2 Description
      p
        | To use the Chat tool, please use the utility below.
      p
        | To obtain an Access Token, go to the admin page of your owncast instance, 
        | then Integrations > Access Tokens and create a new one which 
        | "has admin access".
      p
        | Please note that Access Tokens are never sent to the server and are used only 
        | locally by your browser.
      p
        | If you'd rather embed the official owncast chat into your stream,
        | please have a look at their 
        a(href="https://owncast.online/docs/embed/") documentation
        | .      
      
      h2 Utility
      form(action='' method='GET').utility
        p Domain:
        input(type='text' placeholder='stream.domain.org').domain
        br
        p Access token:
        input(type='text' placeholder='abc123').token
        br
        p Result:
        a(href='/chat').target /chat
        
  #tool
    #chat
      #chat_scroll
