extends templates/main

block js
  script(src='/static/dayjs.min.js' charset='utf-8')
  script(src='/static/dayjs.relativeTime.js' charset='utf-8')
  script(src='/static/script.countdown.js' charset='utf-8')

block body
  #instructions
    .container
      p
        | Back to 
        a(href='/') home
      
      h2 Description
      p
        | To use the Countdown tool, please add a hashtag followed by the 
        | number of seconds you wish the countdown to run for or use the 
        | utility below
      
      h2 Utility
      form(action='' method='GET').utility
        p Time (seconds):
        input(type='text' placeholder='60').time
        br
        p Message (optional):
        input(type='text' placeholder='I\'ll be back in').message
        br
        p Result:
        a(href='/countdown').target /countdown
      
  #tool
    
