extends templates/main

block js
  script(src='/static/script.dynmessage.js' charset='utf-8')

block body
  #instructions
    .container
      p
        | Back to 
        a(href='/') home
      
      h2 Description
      p
        | To use the Viewer Count tool, please use the utility below
        br
        | Parameters:
      ul
        li {{viewerCount}}
        li {{overallMaxViewerCount}}
        li {{sessionMaxViewerCount}}
        li {{versionNumber}}
        li {{name}}
        li {{title}}
        li {{summary}}
      
      h2 Utility
      form(action='' method='GET').utility
        p Message:
        textarea(name="message" cols="60" rows="10").message
        br
        p Domain (optional; necessary when using parameters):
        input(type='text' placeholder='stream.domain.org').domain
        br
        p Refresh rate (optional; in seconds; default = 0 [no refresh]):
        input(type='number' placeholder='0').refresh
        br
        p Result:
        a(href='/dynmessage').target /dynmessage
      
  #tool
