extends templates/main

block body
  .container
    h1 Welcome to Ownextend
    p A set of OBS/browser compatible tools to extend Owncast
    
    h2 Features
    ul
      li
        | Compatible with 
        a(href='https://owncast.online') Owncast
        |  servers
      li Designed for use with the OBS browser source
      li Open source under MIT license
      li
        | Source code hosted on 
        a(href='https://codeberg.org/yarmo/ownextend') Codeberg
      li Host Ownextend yourself using docker
    
    h2 Tools
    a(href='/chat').btn Chat
    a(href='/tts').btn TTS
    a(href='/countdown').btn Countdown
    a(href='/dynmessage').btn Dynamic Message
    
    h2 Third-party services
    a(href='/liberapay').btn Liberapay
    
