extends templates/main

block js
  script(src='/static/script.liberapay.js' charset='utf-8')

block body
  #instructions
    .container
      p
        | Back to 
        a(href='/') home
      
      h2 Description
      p
        | To use the Liberapay tool, please use the utility below
        br
        | Parameters:
      ul
        li {{username}}
        li {{displayName}}
        li {{avatar}}
        li {{givingAmount}}
        li {{givingCurrency}}
        li {{receivingAmount}}
        li {{receivingCurrency}}
        li {{goal}}
        li {{nPatrons}}
      
      h2 Utility
      form(action='' method='GET').utility
        p Message:
        textarea(name="message" cols="60" rows="10").message
        br
        p Liberapay username:
        input(name='username' type='text' placeholder='username').username
        br
        p Refresh rate (optional; in seconds; default = 0 [no refresh]):
        input(type='number' placeholder='0').refresh
        br
        p Result:
        a(href='/liberapay').target /liberapay
      
  #tool
