extends templates/main

block js
  script(src="https://code.responsivevoice.org/responsivevoice.js?key=hYSZO4GF")
  script(src='/static/async-polling.min.js' charset='utf-8')
  script(src='/static/uniqolor.min.js' charset='utf-8')
  script(src='/static/script.tts.js' charset='utf-8')

block body
  #instructions
    .container
      p
        | Back to 
        a(href='/') home
      
      h2 Description
      p
        | To use the TTS tool, please use the utility below
      button.debugVoice Debug voice
      
      h2 Utility
      form(action='' method='GET').utility
        p Domain:
        input(type='text' placeholder='stream.domain.org').domain
        br
        p Result:
        a(href='/tts').target /tts
        
  #tool
    #chat
