doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='theme-color' content='#fff')
  link(rel='shortcut icon' href='/favicon.png')
  title= (title ? title : "Ownextend")
  block css
    link(rel='stylesheet' href='/static/stylesheet.css')
body
  block body

  block js
