:root {
  --bg-left: linear-gradient(to left, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5));
  --bg-right: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5));
}
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
}
.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 8px;
}
a {
  color: hsl(295, 85%, 48%);
}
.btn {
  display: inline-block;
  width: 30%;
  padding: 8px;
  margin-right: 2%;
  margin-bottom: 16px;
  border: 1px solid hsl(295, 85%, 48%);
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}
.btn:hover {
  background-color: hsl(295, 85%, 48%);
  color: #fff;
}

#tool {
  margin: 0;
  padding: 4px;
  font-size: 20px;
  font-weight: bold;
  word-wrap: break-word;
  line-height: 1.35em;
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
#tool p {
  margin: 0;
}
#chat {
  height: 100vh;
  padding: 16px 16px 12px;
  overflow: hidden;
}
#chat_scroll {
  height: 100%;
  overflow: hidden;
}
.message {
  display: block;
  padding: 2px;
}
.message_author, .message_body, .message_author p, .message_body p {
  display: inline;
}
.message_author p {
  color: #faa;
}
img {
  height: 1.6em;
}
